{
  "openapi": "3.0.1",
  "info": {
    "title": "Ascent Bio MDESIGN API",
    "description": "An API that creates a programmatic interface for molecule design",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://ascentbio--ab-design-apiv3-01-design-inference.modal.run"
    }
  ],
  "security": [
    {
      "ascent-api-key": []
    }
  ],
  "paths": {
    "": {
      "post": {
        "tags": ["Design"],
        "summary": "Creates a new molecule design",
        "description": "Creates a new molecule design using the Ascent Bio API",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "smiles": { "type": "string" },
                  "changes": { "type": "object" },
                  "model": { "type": "string" }
                },
                "required": ["smiles", "changes", "model"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DesignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ascent-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "ascent-api-key"
      }
    },
    "schemas": {
      "DesignResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "status": { "type": "string" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "code": { "type": "integer" }
        }
      }
    }
  }
}